* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ui {
    position: relative;
    background: rgb(248, 242, 188);
    background: linear-gradient(to right, rgb(248, 242, 188), #eb7e18);
    border-radius: 25px;
    /* height: 300px; */
    width: 450px;
    padding: 25px;
    padding: 50px;
    opacity: 0.9;
}

.ui header {
    color: rgb(19, 214, 248);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ui .myInput {
    width: 360px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
}
