body{
    background-image: url("doctor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;

}

#ui{
    background-color: rgb(211, 71, 16);
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    opacity: 0.9;
}

#ui label,h1{
    color: #fff;

}